h1, h2, h3, h4 {
  padding: 2px;
  margin: 2px;
}
.container {
  text-align: center;
  margin: 20px 0;
}
.years {
  background: #0a0a23;
  color: #fff;
}

.years th {
  padding: 0.5rem;
  font-weight: bold;
  text-align: right;
  margin-right: 20px;
}

table-wrap {
  padding: 0 0.75rem 1.5rem 0.75rem;
}

table {
  border-collapse: collapse;
  border: 0;
  width: 900px;
  margin: 0 auto;
  position: relative;
  margin-top: 1rem;
}

table caption {
  color: #356eaf;
  font-size: 1.3em;
  font-weight: normal;
  position: absolute;
  top: -2.25rem;
  left: 0.5rem;
}

tbody td {
  width: 100vw;
  min-width: 4rem;
  max-width: 4rem;
}
tbody tr.title {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    #dfdfe2 1.845rem,
    white 1.845rem
  );
}
tbody tr.title th {
  text-align: left;
  padding: 0.5rem;
}
tbody td.space {
  width: 100vw;
}

tr.total {
  border-top: 2px solid #0a0a23;
  font-weight: bold;
  text-align: right;
}
tr.total td span.total {
  text-align: right;
  font-weight: bold;
}

tr.total th {
  text-align: left;
  padding: 0.5rem 0 0.25rem 0.5rem;
}

tr.total td {
  text-align: right;
  padding: 0.25rem;
}

tr.total td:last-of-type {
  padding-right: 0.5rem;
}

td.current {
  font-style: italic;
}

tr th.name {
  color: #000 !important;
  font-size: 1em !important;
  font-weight: bold !important;
}

tr.data td.no-data {
  text-align: center;
}

tr.data th {
  text-align: left;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
}

tr.data th .description {
  display: block;
  font-weight: normal;
  font-style: italic;
  padding: 1rem 0 0.75rem;
  margin-right: -13.5rem;
}

tr.data td {
  vertical-align: top;
  padding: 0.3rem 0.25rem;
  text-align: right;
}
tr.data td.caption {
  vertical-align: top;
  padding: 0.3rem 0.25rem;
  text-align: left;
  margin-right: 20px;
}

tr.data td:last-of-type {
  padding-right: 0.5rem;
}
